.fail {
    font-size: 32px;
    font-weight: 600;
}

.item {
    background-color: #ebebeb;
    border: 1px solid #FF9EAA;
    margin-bottom: 20px;
    padding: 16px 8px;
}

.item:last-child {
    margin-bottom: 0;
}

.title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 22px;
}

.comment {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
}

.date {
    color: #d9727e;
    font-size: 16px;
}