.form {
    max-width: 540px;
    margin: 0 auto;
    display: flex;
}

.input {
    width: 100%;
    margin-right: 12px;
    outline: none;
    border: 2px solid #232020;
    padding: 4px 0 4px 16px;
    transition-property: border-radius, background-color, padding;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 4px 0 4px 8px;
}

.btn {
    background-color: #FF9EAA;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: #ff8795;
}

.btn:active {
    background-color: #ffbec6;
}