.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 1158px;
    margin: 0 auto;
    padding: 100px 16px;
}

.title {
    max-width: 280px;
    text-align: center;
    font-weight: 600;
}

.item {
    max-width: 360px;
    transition-property: transform, opacity, color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
    transform: scale(1.03);
}

.item:hover img {
    opacity: 0.7;
}

.item:hover .title {
    color: rgb(70, 70, 70);
}